/* Home.css */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.carousel-slide img {
  width: 50%; /* Set image width to 60px */
  height: auto;
  display: block;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}

.Proj1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

/* .carousel-content {
  display: flex;
  justify-content: space-between;
}

.carousel-image {
  flex: 1;
  padding: 10px;
}

.carousel-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.carousel-image img {
  width: 100%;
  height: auto;
} */
