body {
  background-color: #0194ce;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
h2 {
  color: #FFF;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #0515f5;
  padding: 0;
}
ul.header li a {
  color: #01fad9;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #0caffa;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.Explore {
    color: green;
}
.Proj1 {
    font-weight: bold;
    color: #FFF;
    font-size: larger;
}